

body{
    font-family: "DM Sans", sans-serif;
}

/* sectct box css */
.select-box {
    cursor: pointer;
    position : relative;
    max-width:  20em;
    margin: 20px auto;
    width: 100%;
  }
  
  .select,
  .label {
    color: #414141;
    display: block;
    font: 400 17px/2em 'Source Sans Pro', sans-serif;
  }
  
  .select {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 5px 0;
    height: 40px;
    opacity: 0;
    /* -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; */
    background: none transparent;
    border: 0 none;
  }
  .select-box1 {
    background: #ececec;
  }
  
  .label {
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
  }
  .open .label::after {
     content: "▲";
  }
  .label::after {
    content: "▼";
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 15px;
    border-left: 5px solid #fff;
  }

/* form css srart here */
.modal-header {    
    background-color: #c8eadf;
}

.modal-title {   
    margin-left: 79px;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 3rem 1rem;
    background-color: #c8eadf;
    /* background-image:linear-gradient(
        75deg
        , #FDC830, #F37335, #f12711, #f5af19);; */
}

.wrap{width:300px;}
.center{
 top:50%;
 transform:translateY(-50%);
 position:relative;
 margin:auto;}

/* input{
  display:block;
    width: 300px;
    padding: 15px 0 15px 12px;
    font-family: "Arvo";
    font-weight: 400;
    color: #377D6A;
    background: #fff;
    border: none;
    outline: none;
    color: #000;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px  1px rgba(255,255,255,0.2);
    text-indent: 60px;
    transition: all .3s ease-in-out;
    position: relative;
    font-size: 21px;
    margin-top: 14px;
}
input:focus{
    text-indent: 12px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
}

select{
    display:block;
      width: 300px;
      padding: 15px 0 15px 12px;
      font-family: "Arvo";
      font-weight: 400;
      color: #377D6A;
      background: #fff;
      border: none;
      outline: none;
      color: #000;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
      border: 1px solid rgba(0,0,0,0.3);
      border-radius: 4px;
      box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px  1px rgba(255,255,255,0.2);
      text-indent: 60px;
      transition: all .3s ease-in-out;
      position: relative;
      font-size: 21px;
      margin-top: 14px;
  }
  select:focus{
      text-indent: 12px;
      box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
  } */


label{
    display: block;
    position: static;
    margin: 10px;
    padding: 0;
    color:#000;
    font-family: 'Arvo';
    font-size: 20px;
    margin: 2px;
}

.wrap-label{
  width: 300px;
  height: 34px;
  position: relative;
  padding: 0;
  margin: 0;
  bottom: -15px;
  overflow: hidden;}

.iconicfill-pen-alt2{
    position: absolute;
    left: 10px;
    color: #fff;
    font-size:19px;
    opacity: 1;
    top: -2px;
    transform:translateX(-100px);
}

/* ==== Pen animation ==== */
.move-pen{animation: move-pen 1s ease-in infinite alternate;}
@keyframes move-pen{
    from{transform:translateX(-4px) rotate(6deg);}
    to{transform:translateX(4px) rotate(-3deg);}
}

/* select .boxes */


/* form css ends here */

.unlockBtn {
    border: none;
    /* margin: 20px; */
    padding: 24px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    background-color: #f93939;
    color: #fff;
    /* font-weight: bold !important; */
    /* font-size: 26px; */
    font-weight: 500;
    /* line-height: 40px; */
    border-radius: 14px !important;
    background-image: linear-gradient(
75deg
, #FDC830, #F37335, #f12711, #f5af19);
    background-size: 300%;
    background-position: left;
    transition: 300ms background-position ease-in-out;
    width: 320px !important;
    margin-left: 20px;
}

.btns{
  border: none;
  /* margin: 20px; */
  padding: 24px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em; 
  background-color: #f93939; 
  color: #fff; 
  /* font-weight: bold !important; */
  font-size: 24px;
  font-weight: 700;
  /* line-height: 40px; */
  border-radius: 14px !important;  
  background-image: linear-gradient(75deg, #FDC830, #F37335, #f12711, #f5af19); 
  background-size: 300% ;
  background-position: left;  
  transition: 300ms background-position ease-in-out;
  width: 70% !important;
  margin-left: 15% !important;
}  

.btns:hover{
  background-position: right; 
}

.homepage{
    background-color: #c8eadf;
    padding:4% 12%;
}

h5{
    font-size: 18px !important;
    line-height: 25px !important;
    font-weight: 700 !important;
    color: #333333 !important;

}

.workshop .card-text{
    font-size: 16px !important;
    line-height: 22px !important;
    font-weight: 400 !important;
    color: #444444 !important;
}

.homeBuyersIcon img{
width: 110% !important;
margin-right: 10px !important;
}

.youtubeVideo{        
    border: 15px solid white;
    /* margin: 2% 6%; */
}

.buildersSmallImg{
    display: none;
}

.register {
    padding: 4% 5%;
    font-size: 18px !important;
    line-height: 22px !important;
    font-weight: 700 !important;
    color: #00747b !important;
}

.consultantsDetails{
    font-size: 14px;
}

.per-title-highlight {
    background-image: linear-gradient(130deg,#39df9e,#00747b);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.homepageHeading{
    /* font-family: "DM Sans", sans-serif; */
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    color: #333333;
}

.homePageSubHeading{
    width: 75%;
    /* display: flex; */
    margin-left: 12.5vw;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    font-weight: 700;
    line-height: 31px;
    font-size: 22px;
    color: #444444;   
}

.cardVideo .card{
    border-radius: 16px;
}

.buttons-cards{
    /* width: 168px !important;
    font-size: 10px !important;
    padding: 5px; */
    background: white;width: 17rem;height: 50px; border-radius: 16px;border: none; margin-left: 5%;cursor:  context-menu;
    font-size: 16px; line-height: 32px;font-weight: 700;color: #333333;
}

.register {
    /* padding: 4% 5%; */
    font-size: 20px !important;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.btn{
    background-image: linear-gradient(126deg,#2ac294,#0e8f84);
    color: white;
}



.far{
    color: #0e8f84;
}

.workshop{
    background-color:#c0e1d6;
    padding:4% 12%;
}

.workshop .cards{
    background-color: #c8eadf;
    max-height: 150px;
    min-height: 150px;
    border-radius: 10px;
}

.workshop .fas{
    color: #0e8f85;
}

/* .far{
    color: green;
}

.card{
    border-radius: 20px;
} */

.afterRegistering{
    padding:4% 12%;
    background-color: #f5f5f5;
}

.afterRegistering .far{
    color: green;
}

.afterRegistering .card{
    border-radius: 16px;
}

.afterRegistering .cards-title{
    border: 1px solid rgb(230, 219, 219);padding:10px; border-radius: 16px; background-color: white;
}
.tick{
    padding-right: 20px;
}
.tick-text{
    padding-top:10px;
    font-size: 22px !important;
    line-height: 26px !important;
    font-weight: 500 !important;
}

.extraBonus{
    background-image: linear-gradient(133deg,#0f8f85,#27bd93) !important;   
    color: #fff; 
}

.afterRegistering img{
    background-color: rgba(0,116,123,.1); padding: 10px; border-radius: 16px;
}

.coupons{
    padding:4% 12%;
    background-color: #c8eadf;
}

.couponFirst{
    position: relative;
}
.couponFirstText{
    position: absolute;
    top: 10px;
    left: 50px;
}

.underline{
    text-decoration-color: blue;
}

.clockdiv{
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    /* border-radius: 6px; */
}

.clockdiv div{
 position: relative;
 width: 15vw;
 height: 15vh;
 line-height: 100px;
 text-align: center;
 /* background: #333; */
 background-image: linear-gradient(133deg,#0f8f85,#27bd93);
 color: #fff;
 margin:0 15px;
 font-size: 69px;
 font-weight:bold;
 border-radius: 6px;
}

.clockdiv div:before{
    content: '';
    position: absolute;
    bottom: -30px;
    left:0;
    width: 100%;
    height: 35px;
    /* background: #ff0; */
    background-image: linear-gradient(133deg,#0f8f85,#27bd93);
    color: white;
    font-size: 20px;
    line-height: 35px;
    font-weight: 300;
    border-radius: 6px;
}

.clockdiv div#days:before{
    content: 'Days';
}
.clockdiv div#hours:before{
    content: 'Hours';
}.clockdiv div#minutes:before{
    content: 'Minutes';
}.clockdiv div#seconds:before{
    content: 'Seconds';
}

.whyGolden{
    padding:4% 12%;
    background-color: #032d30;
    color: white;
}

.GoldenCards .cards{
    background-color: hsla(0,0%,100%,.1);
    color: white;
    border-radius: 16px;
    padding: 10px;
    min-height:210px !important;
    /* max-height:240px !important; */
}

.GoldenCards h5{
    font-size: 28px !important;
    line-height: 44px !important;
    font-weight: 700 !important;
}

  .paragraph .cards{
    background-color: hsla(0,0%,100%,.1);
    /* color: #27bd93; */
    /* color: #39df9e,#00747b; */
    border-radius: 10px;
    padding: 10px;
    /* min-height:100px; */
    font-size:24px !important;
    line-height: 29px !important;
    font-weight: 700;
    }

.believeThem{
    padding:8% 12%;
    background-color: #c8eadf;
}

.believeThemHeading{
    font-size: 60px;
}

.heading{
    color: #0e8f84;
    font-weight: 700;
}

.checkboxes{
    padding:4% 12%;
    background-color: #c2e5da;
}

.checkboxes .card{
    background-color: hsla(0,0%,100%,.4);
    border-radius: 16px;
    border: .5px solid rgba(3,45,48,.15)
}

.checkboxes .boxes .row .card-title{
    border: 1px solid rgb(230, 219, 219);padding:10px; background-color: hsla(0,0%,100%,.4); border-radius: 16px;padding: 10px;
    max-height: 80px;
}

.check{
    height: 30px;
    width: 30px;
    margin-top: 15px;   
    border: 1px solid #9dd6c4;
    color: #2ac294;
    align-items: center;
    /* padding: 5px; */
    padding-right: 10px;
}
.checkText{
    padding-left: 10px;
    padding-top: 10px;
}



.meetConsultant{
    padding:4% 12%;
    background-image: linear-gradient(140deg,#29c194,#0e8f84);
}

.whatWillYouGet div img{
    background-color: rgba(0,116,123,.1); padding: 10px; border-radius: 16px;
   }

.faq{
    padding:4% 12%;
    background-color: #c8eadf;
}
.accordion-item{
    margin-bottom: 10px;
    background-image: linear-gradient(90deg,rgba(41,193,148,.2),rgba(14,143,132,.2));
}

.accordion-button{
    /* background-color: #6aece2; */
    background-image: linear-gradient(90deg,rgba(41,193,148,.2),rgba(14,143,132,.2));
}

.accordion-header{
    background-color: #6aece2;
    /* background-image: linear-gradient(90deg,rgba(41,193,148,.2),rgba(14,143,132,.2)); */
}

.footer{
    background-color: #032d30;
    padding: 4% 12%;
}
.buttons{
    width: 50%; margin-left: 25%;margin-top: 3% !important;
}

.goldenLogo img{
    width: 20%;
    height: 20%;
}
.largeCoupon img{
    width: 91% !important;
    height: 160px;
}


@media (min-width:300px) and (max-width:449.99px){

    .homepage{
        padding: 4% 4%;
    }

    .buttons-cards{
        width: 169px !important;
        font-size: 10px !important;
        padding: 5px;
        margin-left: 2%;
        /* background: white;width: 17rem;height: 50px; border-radius: 16px;border: none; margin-left: 5%;cursor:  context-menu; */
    }

    .buttons{
        width: 100% !important; 
        margin-left: 0% !important;
        font-size: 11px !important;
        font-weight: bold !important;
        line-height: 32px;
    }

    .homepageHeading{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #333333;
    font-weight: bold;
    }
    .homePageSubHeading{
        text-align:center;
        font-size: 14px !important;
        width: 100%;
        margin-left: 1.5vw;
        line-height: 20px;
        font-weight: 500;
        color: #444444;
    }

    .consultantCard{
        margin-left: 7%;
    }

    .buildersLargeImg{
        display: none;
    }

    .buildersSmallImg{
        display: flex;
    }
    .youtubeVideo{        
        border: 15px solid white;
        margin: 2% 6%;        
    }

   .homepage .btn {       
        width: 75% !important;
        margin-left: 14%;
    }

    .homepage .cards{
        margin: auto 13vw;
        width: 19rem;
        /* align-items: center;
        justify-content: center; */
    }

    .video{   
        padding: 8% 0%;     
        order: -1;
    }  
    
    .afterRegistering{
        padding:4% 4%;
        background-color: #f5f5f5;
    }
    .tick{
        padding-right: 10px;
        padding-top: 10px;
    }
    .tick-text{
        padding-top:10px;
    }

    .whyGolden{
        padding:4% 4%;
    }

     .paragraph .cards{
        background-color: hsla(0,0%,100%,.1);
        color: #27bd93;
        border-radius: 16px;
        padding: 10px;
        min-height:100px;
        font-size:14px;
        max-width:85%;
        margin-left: 7.5%;
    }

    .GoldenCards .cards{
        background-color: hsla(0,0%,100%,.1);
        color: white;
        border-radius: 16px;
        padding: 10px;
        min-height:250px !important;
        /* max-height:240px !important; */
    }

    
    .checkboxes{
        padding:4% 6%;
        background-color: #c2e5da;
    }

    .checkboxes .boxes .row .card-title{
        border: 1px solid rgb(230, 219, 219);padding:10px; background-color: hsla(0,0%,100%,.4); border-radius: 16px;padding: 10px;
        max-height: 100px;
    }    
    
    .checkText{
        padding-left: 10px;
        padding-top: 5px;
    }

    .believeThem{
        padding:8% 4%;
    }

    
.believeThemHeading{
    font-size: 35px;
}

    .meetConsultant{
        padding:4% 0%;
        /* background-image: linear-gradient(140deg,#29c194,#0e8f84); */
    }

    .meetOurConsultant{
      text-align: center !important;
      font-size: 25px !important;
    }

    .register {
        padding: 4% 5%;
        font-size: 16px !important;
    }

    .workshop .cards{
        background-color: #c8eadf;
        max-height: 200px;
        min-height: 200px;
        border-radius: 10px;
    }
    

    .clockdiv div:before{       
        font-size: 13px;        
    }
    .clockdiv div{
        position: relative;
        width: 20vw;
        height: 12vh;
        /* line-height: 100px; */
        text-align: center;
        /* background: #333; */
        background-image: linear-gradient(133deg,#0f8f85,#27bd93);
        color: #fff;
        margin:0 5px;
        /* margin-top: ; */
        font-size: 30px;
        font-weight: 500;
       }

       /* .clockdiv button{
           margin-top: 20%;
       } */

       /* .largeCoupon img{
           width: 109%;
           height: 150px;
       }      */

       .gauravHarjit{
           margin-left: 12% !important;
       }
       .why{
           text-align: justify !important;
           font-size: 16px !important;
       }
       .buildersLargeImg1{
           margin: 0% 4%;
       }
       .whatWillYouGet{
        margin-top: 15% !important;
    }

      .card-img-top {
        width: 126%;
        margin-left: -12%;
    }

    .unlockbonus{
        font-size: 23px !important;
    }
    .time-runing-out{
        font-size: 18px !important;
    }
    .faq{
        padding:4% 6%;
        background-color: #c8eadf;
    }

    .goldenLogo img{
        width: 57%;
        /* height: 0%; */
        margin-top: 8%;
    }
    .largeCoupon img{
        width: 100% !important;
        height: 150px;
    }
}



@media (min-width:450px) and (max-width:600.99px){

    .homepage{
        padding: 4% 4%;
    }

    .buttons{
        width: 100% !important; 
        margin-left: 0% !important;
        font-size: 15px !important;
        /* margin-top: -0% !important; */
    }

    .largeCoupon img{
        width: 73%;
        height: 150px;
    }

    .homepageHeading{
    text-align: justify;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #333333;
    font-weight: bold;
    }
    .homePageSubHeading{
        text-align:justify;
        font-size: 16px !important;
        width: 92%;
        margin-left: 4.5vw;
    }

    .youtubeVideo{        
        border: 15px solid white;
        margin: 2% 6%;        
    }

    .buttons-cards{
        width: 204px !important;
        font-size: 13px !important;
        padding: 5px;
        margin-left: 9%;
    }

    /* .cardVideo{
        display: flex;
        flex-direction: column;
        /* margin: 2%; 
    } */

    .buildersLargeImg{
        display: none;
    }

    .buildersSmallImg{
        display: flex;
    }

    .homepage .btn {       
        width: 75% !important;
        margin-left: 14%;
    }

    .homepage .cards{
        margin: auto 1vw;
        width: 37rem;
        /* align-items: center;
        justify-content: center; */
    }

    .video{   
        padding: 8% 0%;     
        order: -1;
    }

    .register {
        padding: 4% 5%;
        font-size: 16px !important;
    }

    .afterRegistering{
        padding:6% 8%;
        background-color: #f5f5f5;
    }

    .tick{
        padding-right: 10px;
        padding-top: 5px;
    }
    .tick-text{
        padding-top:10px;
    }

    .whyGolden{
        padding:6% 8%;
        /* background-color: #032d30;
        color: white; */
    }

     .paragraph .cards{
        background-color: hsla(0,0%,100%,.1);
        color: #27bd93;
        border-radius: 16px;
        padding: 10px;
        min-height:100px;
        font-size:18px;
        max-width:85%;
        margin-left: 7.5%;
    }
    

    .clockdiv div:before{       
        font-size: 10px;        
    }
    .clockdiv div{
        position: relative;
        width: 15vw;
        height: 10vh;
        line-height: 100px;
        text-align: center;
        /* background: #333; */
        background-image: linear-gradient(133deg,#0f8f85,#27bd93);
        color: #fff;
        margin:0 15px;
        font-size: 30px;
        font-weight: 500;
       }

       .clockdiv button{
           margin-top: 20%;
       }

      

       .coupon img{
         /* vertical-align:middle; */
         /* align-content: center; */
         margin: auto 12.5%;
       }

       .whatWillYouGet{
        margin-top: 15% !important;
    }

    .gauravHarjit{
        margin-left: 12% !important;
    }
    .why{
        text-align: justify !important;
        font-size: 16px !important;
    }
    .buildersLargeImg1{
        margin: 0% 4%;
    }
     .card-img-top {
        width: 139% !important;
        margin-left: -12% !important;
    }

    .card-img-tops {
        width: 139% !important;
        margin-left: 32% !important;
    }
    .unlockbonus{
        font-size: 23px !important;
    }
    .time-runing-out{
        font-size: 18px !important;
    }
    .faq{
        padding:4% 4%;
        background-color: #c8eadf;
    }
}


@media (min-width:601px) and (max-width:850.99px){

    .homepage{
        padding: 4% 4%;
    }

    .buttons{
        width: 100% !important; 
        margin-left: 0% !important;
        font-size: 15px !important;
        /* margin-top: -0% !important; */
    }

    .largeCoupon img{
        width: 73%;
        height: 150px;
    }

    .homepageHeading{
    text-align: center;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #333333;
    font-weight: bold;
    }
    .homePageSubHeading{
        text-align:center;
        font-size: 16px !important;
        width: 92%;
        margin-left: 4.5vw;
    }

    .youtubeVideo{        
        border: 15px solid white;
        margin: 2% 6%;        
    }

    .buttons-cards{
        width: 204px !important;
        font-size: 13px !important;
        padding: 5px;
        margin-left: 9%;
    }

    /* .cardVideo{
        display: flex;
        flex-direction: column;
        /* margin: 2%; 
    } */

    .buildersLargeImg{
        display: none;
    }

    .buildersSmallImg{
        display: flex;
    }

    .homepage .btn {       
        width: 75% !important;
        margin-left: 14%;
    }

    .homepage .cards{
        margin: auto 1vw;
        width: 37rem;
        /* align-items: center;
        justify-content: center; */
    }

    .video{   
        padding: 8% 0%;     
        order: -1;
    }

    .register {
        padding: 4% 5%;
        font-size: 16px !important;
    }

    .afterRegistering{
        padding:6% 8%;
        background-color: #f5f5f5;
    }

    .whyGolden{
        padding:6% 8%;
        /* background-color: #032d30;
        color: white; */
    }

     .paragraph .cards{
        background-color: hsla(0,0%,100%,.1);
        color: #27bd93;
        border-radius: 16px;
        padding: 10px;
        min-height:100px;
        font-size:18px;
        max-width:85%;
        margin-left: 7.5%;
    }
    

    .clockdiv div:before{       
        font-size: 10px;        
    }
    .clockdiv div{
        position: relative;
        width: 15vw;
        height: 10vh;
        line-height: 100px;
        text-align: center;
        /* background: #333; */
        background-image: linear-gradient(133deg,#0f8f85,#27bd93);
        color: #fff;
        margin:0 15px;
        font-size: 30px;
        font-weight: 500;
       }

       .clockdiv button{
           margin-top: 20%;
       }

      

       .coupon img{
         /* vertical-align:middle; */
         /* align-content: center; */
         margin: auto 12.5%;
       }

       .whatWillYouGet{
        margin-top: 15% !important;
    }

    .gauravHarjit{
        margin-left: 12% !important;
    }
    .why{
        text-align: justify !important;
        font-size: 16px !important;
    }
    .buildersLargeImg1{
        margin: 0% 4%;
    }
     .card-img-top {
        width: 139% !important;
        margin-left: -12% !important;
    }

    .card-img-tops {
        width: 139% !important;
        margin-left: 32% !important;
    }
    .unlockbonus{
        font-size: 23px !important;
    }
    .time-runing-out{
        font-size: 18px !important;
    }
    .faq{
        padding:4% 4%;
        background-color: #c8eadf;
    }
}
